.main__div--container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.main__form{
    border: 3px solid black;
    box-shadow: 1px 1px 1px 1px;
    width: 60%;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: bisque;
}

.div--input-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top:1em;
    width: 60%;
}


.form__input{
    margin-left: 1em;
    width:15em;
    height: 2em;
    border: 1px solid black;
    border-radius:0.5em; 
    font-weight: bold;
    padding-left: 1em;
}

.text-area--description{
    margin-bottom: 2em;
    width: 15em;
    height: 4em;
    border:1px solid black;
}

.button--login{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: brown;
}

.button--login:hover:enabled{
    background-color: crimson;
    cursor: pointer;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.span--invalid{
    color: #D8000C;
    background-color:#FFBABA;
    margin-top: -1em;
    margin-left: 35%;
    padding: 1em;
}



