<div class="main__div">
    <ul class="ul--languages">
        <li *ngFor="let language of languages" class="li--language" (click)="changeLanguage(language)"> 
            {{language}}
        </li>
    </ul>
    <ul>
        <ng-container *ngFor="let item of menuItems">
            <app-menu-item [itemTitle]="item" [selected]="item === selectedMenuItem"
                (itemClick)="onPageChanged($event)" [language]="currentLanguage"></app-menu-item>
        </ng-container>
        <app-menu-item [itemTitle]="logInOut" [selected]="selectedMenuItem === 'login' || selectedMenuItem === 'logout'"
            (itemClick)="onPageChanged($event)" [language]="currentLanguage"></app-menu-item>
        <app-menu-item *ngIf="loggedIn" [itemTitle]="shoppingCartMenuItem" [shoppingCart]="true"
            [selected]="selectedMenuItem === 'shopping cart'" (itemClick)="onPageChanged($event)" [language]="currentLanguage"></app-menu-item>
    </ul>
    <app-content-projection>
        <ul class="footer__ul">
            <li *ngFor="let url of socialMediaUrls; let i=index" class="footer__li">
                <a href={{myProfiles[i]}} #social_links>
                    <img class="footer__buttons" src={{url}} />
                </a>
            </li>
        </ul>
    </app-content-projection>
</div>