.main__div{
    z-index: 1;
    margin-top:3em;
    position: fixed;
    height: 100%;
    width: 18%;
    background-color: lightblue;
    border:1px solid black;
}

.footer__buttons{
    width: 2em;
    height: 2em;
}

.footer__ul{
    margin-top: 17em;
}

.footer__li{
    margin-left: 1.5em;
    list-style-type: none;
    display: inline;
    cursor: pointer;
}

.ul--languages{
    display: flex;
    justify-content: space-around;
    margin-left: -2em;
}

.li--language{
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
}


