<app-nav-bar (toggleMenu)="toggleMenu()"></app-nav-bar>
<app-menu  *ngIf="showMenu" (pageChanged)="changePage($event)"></app-menu>
<app-header></app-header>
<app-home *ngIf="displayPage === 'home'"></app-home>
<app-about *ngIf="displayPage === 'about'"></app-about>
<app-products *ngIf="displayPage === 'products'"  [products]="products" (showProductDetails)="showProductDetails($event)"></app-products>
<app-contact *ngIf="displayPage === 'contact'"></app-contact>
<app-product-details *ngIf="displayPage === 'details'" [product]="product" (goBack)="backClicked()"></app-product-details>

