<div class="product-list__div--container">
    <ul class="product-list__ul">
        <ng-container *ngFor="let product of products">
            <li *ngIf="product.categoryName === categorySelected || categorySelected === 'All' " class="product__li">
                <app-product [product]="product" (click)="productClicked(product)">
                </app-product>
                <input type="button" value="Add to cart" [disabled]="loggedInUsername === undefined"
                    class="product__button--add" (click)="addProduct(product)" />
                <input *ngIf="loggedInUsername === 'admin'" (click)="editClicked(product)" type="button" class="product__button--edit" value="edit" />
            </li>
        </ng-container>
    </ul>
</div>